[Unit]
Description=App v1 demo

[Container]
Image=quay.io/centos/centos:stream9
Exec=while true; do echo "App v1"; sleep 10; done

[Service]
Restart=always

[Install]
WantedBy=multi-user.target

