[Unit]
Description=Run validator install asap
Before=basic.target
Wants=local-fs.target sysinit.target
After=local-fs.target sysinit.target


[Service]
Type=oneshot
ExecStart=validator -vvvv install --config-dir=/etc/validator/boot.d --config-dir=/usr/lib/validator/boot.d
RemainAfterExit=yes
StandardOutput=kmsg+console
StandardError=kmsg+console

[Install]
WantedBy=basic.target
